
<!DOCTYPE html>
<html class='animated fadeIn'>
  <head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <link rel='stylesheet prefetch' href='//codepen.io/assets/reset/normalize.css'>
    <link rel='stylesheet prefetch' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
  <div id='zombie'>
    <div class='layer-bg layer' data-depth='0.10' data-type='parallax'></div>
    <div class='layer-1 layer' data-depth='0.20' data-type='parallax'></div>
    <div class='layer-2 layer' data-depth='0.50' data-type='parallax'></div>
    <div class='layer-3 layer' data-depth='0.80' data-type='parallax'></div>
    <div class='layer-overlay layer' data-depth='0.85' data-type='parallax'></div>
    <div class='layer-4 layer' data-depth='1.00' data-type='parallax'></div>
  </div>
  <div id='zombie-mobile'></div>
  <div id='content'>
    <div class='container'>
      <%= render @view_module, @view_template, assigns %>
    </div>
    <footer>
      <img class="social" src="/images/socialmedia.svg">
      <div class="media">
          <img class="media1" src="/images/pinterest.svg">
          <img class="media2" src="/images/twitter.svg">
          <img class="media3" src="/images/facebook.svg">
          <img class="media4" src="/images/instagram.svg">
          <div class="clear"></div>
      </div>
      <div class="social"></div>
      <div class="stopka">copyright &copy; BRA+f Studio | <a href="/">Home</a></div>
    </footer>
  </div>

  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  <script src='//assets.codepen.io/assets/common/stopExecutionOnTimeout-53beeb1a007ec32040abaf4c9385ebfc.js'></script>
  </body>
</html>