
<!DOCTYPE html>
<html class='animated fadeIn'>
<head>
  <script src='//assets.codepen.io/assets/editor/live/console_runner-d0a557e5cb67f9cd9bbb9673355c7e8e.js'></script>
  <script src='//assets.codepen.io/assets/editor/live/events_runner-21174b4c7273cfddc124acb0876792e0.js'></script>
  <script src='//assets.codepen.io/assets/editor/live/css_live_reload_init-7618a0de08795409d8f6c9ef6805f7b2.js'></script>
  <meta charset='UTF-8'><meta name="robots" content="noindex">
  <link rel="canonical" href="http://codepen.io/zabielski/pen/MyoBaY" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  <link rel='stylesheet prefetch' href='//codepen.io/assets/reset/normalize.css'>
  <link rel='stylesheet prefetch' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

</head>
<body>
<div id='zombie'>
  <div class='layer-bg layer' data-depth='0.10' data-type='parallax'></div>
  <div class='layer-1 layer' data-depth='0.20' data-type='parallax'></div>
  <div class='layer-2 layer' data-depth='0.50' data-type='parallax'></div>
  <div class='layer-3 layer' data-depth='0.80' data-type='parallax'></div>
  <div class='layer-overlay layer' data-depth='0.85' data-type='parallax'></div>
  <div class='layer-4 layer' data-depth='1.00' data-type='parallax'></div>
</div>
<div id='zombie-mobile'></div>
<div id='content'>
  <div class='container'>
    <section class='first-section'>
      <div class='row'>
        
          <h1>"Walkę stworzyła na­tura, niena­wiść jest wy­nalaz­kiem człowieka"</h1>
        
      </div>
      <div class='row'>
        <div class='col-sm-6 lewa'>
          <p class="p1">Zaloguj się!</p>
          <form class="form1" name="nazwa" action="logowanie.php" method="POST" ENCTYPE="multipart/form-data">
            <label>nazwa użytkownika:</label><br><input type="text" name="login"><br><br>
            <label>hasło:</label><br><input type="password" name="password"><br><br>
            <input class="subm" type="submit" value="zaloguj">
          </form><br><br>
          <p class="p1">Dołącz do gry!</p>
          <form class="form2" name="nazwa" action="rejestracja.php" method="POST" ENCTYPE="multipart/form-data">
            <label for="email">email:</label><br><input type="email" id="email" name="email"><br><br>
            <label>nazwa użytkownika:</label><br><input type="text" name="login"><br><br>
            <label>hasło:</label><br><input type="password" name="password"><br><br>
            <label>powtórz hasło:</label><br><input type="password" name="password"><br><br>
            <input class="subm" type="submit" value="zarejestruj">
          </form>
        </div>
        <div class='col-sm-6'>
          <h3>Gra terenowa w Twoim mieście!</h3>
          <p>Już dziś dołącz do milionów graczy i zmierz się z nimi w grze o PRZETRWANIE. Spróbuj swoich sił w ucieczce przed zombie lub poluj na ocalałych jako ożywiony potwór. Poznawaj ludzi, obmyślaj taktyki i zdobywaj punkty zwycięstwa.</p><br>
          <h3>Poznawaj nowe miejsca!</h3>
          <p>Każdego dnia lista lokalizaji na których odbywa się rozgrywka jest aktualizowana i zmieniana. Pozwala to urozmaicić grę, poznać nowych ludzi oraz zwiedzić nowy fragment miast lub park miejski. Pozwól sobie poznać Warszawę i dołącz do gry. </p><br>
          <h3>Wymieniaj punkty na nagrody i zniżki!</h3>
          <p>Współpracujące z nami firmy oferują wymianę zdobytych w grze punktów na liczne zniżki, bony i upominki. Nie przegap promocji i korzystaj z efektów swoich umiejętności w grze.</p><br>
          <a class='tutorial-link' href='https://medium.com/@PatrykZabielski/how-to-make-multi-layered-parallax-illustration-with-css-javascript-2b56883c3f27'>
           <br> regulamin<br><br><br>
          </a>
        </div>
      </div>
    </section>
  </div>
  <footer>
    <br><br><br><p>copyright &copy; BRA+f Studio</p>
  </footer>
</div>

<script src='//assets.codepen.io/assets/common/stopExecutionOnTimeout-53beeb1a007ec32040abaf4c9385ebfc.js'></script>
<script>
  (function () {
      window.addEventListener('scroll', function (event) {
          var depth, i, layer, layers, len, movement, topDistance, translate3d;
          topDistance = this.pageYOffset;
          layers = document.querySelectorAll('[data-type=\'parallax\']');
          for (i = 0, len = layers.length; i < len; i++) {
              if (window.CP.shouldStopExecution(1)) {
                  break;
              }
              layer = layers[i];
              depth = layer.getAttribute('data-depth');
              movement = -(topDistance * depth);
              translate3d = 'translate3d(0, ' + movement + 'px, 0)';
              layer.style['-webkit-transform'] = translate3d;
              layer.style['-moz-transform'] = translate3d;
              layer.style['-ms-transform'] = translate3d;
              layer.style['-o-transform'] = translate3d;
              layer.style.transform = translate3d;
          }
          window.CP.exitedLoop(1);
      });
  }.call(this));
  //# sourceURL=pen.js
</script>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Zombie!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">
    
  </head>



    
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>  /container 
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
-->