/* This file is for your main application css. */

body {
  padding: 0;
  margin: 0;
  background-color: #210002;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffaf1b;
}

#zombie {
  height: 800px;
  overflow: hidden;
  position: relative;
}

#content {
  background-color: #210002;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

#zombie-mobile {
  display: none;
  background: url("/images/mtlo.jpg") no-repeat center bottom/cover;
  height: 320px;
}

.first-section {
    background-color: #210002;
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 50px;
  font-size: 45px;
  text-align: center;
}

p {
  color: #ffaf1b;
  font-size: 18px;
  line-height: 150%;
}

#zombie, .layer {
  min-height: 1000px;
}

.layer-bg {
  background-image: url("/images/tlo02.jpg"); /*tlo nieruchome*/
}

/* ruchome budynki */

.layer-1 {
  background-image: url("/images/zombie3.png"); 
  background-position: bottom;
}

.layer-2 {
  background-image: url("/images/zombie2.png");
}

.layer-3 {
  background-image: url("/images/zombie1.png");
  background-position: bottom;
}

.layer-4 {
  background-image: url("/images/front.png");
  background-position: bottom;
}

.layer-overlay {
  background-image: url("");
  
}

@media only screen and (max-width: 768px) {
  #zombie {
    display: none;
  }

  #zombie-mobile {
    display: block;
  }
}

.tutorial-link {
  color: #fff;
  font-size: 18px;
  text-decoration: underline;

}
.tutorial-link:hover {
  color: #ede0d5;
}

input {
    background-color: #210002;
    width: 200px;
    border: 1px solid;
}

.form1 {
    font-size: 15px;
}

.p1 {
    font-size: 28px;
    color: white;
}

.lewa {
    padding-left: 20px;
}

.input1 {
    width: 100px;
}

.form2 {
    font-size: 15px;
}

.subm {
    border: 0px;
}

.subm:hover {
    background-color: #321113;
}

footer {
    height: 100px;
    background-color: #321113;
    text-align: center;
    font-size: 15px;
}