/* This file is for your main application css. */

body {
  padding: 0;
  margin: 0;
  background-color: #210002;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffaf1b;
}

#content {
  background-color: #210002;
}

.first-section {
  background-color: #210002;
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 50px;
  font-size: 45px;
  text-align: center;
}

p {
  color: #ffaf1b;
  font-size: 18px;
  line-height: 150%;
}

@media only screen and (min-width: 769px) {
    #zombie {
        height: 800px;
        overflow: hidden;
        position: relative;
    }

    #zombie, .layer {
        min-height: 1000px;
    }

    .layer {
        background-position: bottom center;
        background-size: auto;
        background-repeat: no-repeat;
        width: 100%;
        height: 800px;
        position: fixed;
        z-index: -1;
    }

    .layer-bg {
        background-image: url("/images/tlo03.jpg"); /*tlo nieruchome*/
    }

    /* ruchome budynki */

    .layer-1 {
        background-image: url("/images/zombie3.png"); 
        background-position: bottom;
    }

    .layer-2 {
        background-image: url("/images/zombie2.png");
    }

    .layer-3 {
        background-image: url("/images/zombie1.png");
        background-position: bottom;
    }

    .layer-4 {
        background-image: url("/images/front.png");
        background-position: bottom;
    }
    
    .social {
        position: absolute;
        left: 380px;
        bottom: 10px;
        height: 80px;
        opacity: 0.05;
        filter: alpha(opacity=5);
    }

    .right {
        position: relative;
    }

    .zombieindex {
        position: absolute;
        right: 320px;
        top: 135px;
    }

    .zombieindex2 {
        position: absolute;
        left: 300px;
        top: 58px;
    }

    .zombieindeximg1 {
        height: 560px;
        transform: rotate(-10deg);
    }

    .zombieindeximg2 {
        height: 600px;
    }

    .righttext {        
        position: absolute;
        left: 0px;
        top: 0px;
    }

}

@media only screen and (max-width: 768px) {

    #zombie {
        height: 300px;
        overflow: hidden;
        position: relative;
    }
    
    #zombie, .layer {
        min-height: 300px;
    }

    .layer {
        background-position: top center;
        background-size: auto;
        background-repeat: no-repeat;
        width: 100%;
        height: 300px;
        position: fixed;
        z-index: -1;
    }

    .layer-bg {
        background-image: url("/images/mtlo2.jpg");
        background-position: top center;
    }

    .layer-1 {
        background-image: url("/images/mzombie3.png"); 
        background-position: top center;
    }

    .layer-2 {
        background-image: url("/images/mzombie2.png");
        background-position: top center;
    }

    .layer-3 {
        background-image: url("/images/mzombie1.png");
        background-position: top center;
    }

    .layer-4 {
        background-image: url("/images/mfront.png");
        background-position: top center;
    }

    h1 {
        font-size: 25px;
    }

    .lewa {
        text-align: center;
        padding-bottom: 25px;
    }

    .zombieindex {
        display: none;
    }

    .zombieindex2 {
        display: none;
    }

    .zombieindeximg1 {
        display: none;
    }

    .zombieindeximg2 {
        display: none;
    }
   
    .social {
        display: none;
    }
   
}




.tutorial-link {
  color: #fff;
  font-size: 18px;
  text-decoration: underline;

}
.tutorial-link:hover {
  color: #ede0d5;
}

input {
    background-color: #210002;
    width: 200px;
    border: 1px solid;
}

.form1 {
    font-size: 15px;
}

.p1 {
    font-size: 28px;
    color: white;
}

.lewa {
    padding-left: 20px;
}

.input1 {
    width: 100px;
}

.form2 {
    font-size: 15px;
}

.subm {
    border: 0px;
}

.subm:hover {
    background-color: #321113;
}

footer {
    height: 110px;
    background-color: #321113;
    text-align: center;
    font-size: 15px;
    position: relative;
}

h3 {
    color: white;
    padding-bottom: 20px;
}

.media {
    width: 240px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    
}

.media1:hover {
opacity: 1;
    filter: alpha(opacity=100);
}
.media2:hover {
opacity: 1;
    filter: alpha(opacity=100);
}
.media3:hover {
opacity: 1;
    filter: alpha(opacity=100);
}
.media4:hover {
opacity: 1;
    filter: alpha(opacity=100);
}
.media1 {
    height: 60px;
    width: 60px;
    padding: 10px;
    float: left;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.media2 {
    height: 60px;
    width: 60px;
    padding: 10px;
    float: left;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.media3 {
    height: 60px;
    width: 60px;
    padding: 10px;
    float: left;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.media4 {
    height: 60px;
    width: 60px;
    padding: 10px;
    float: left;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.clear {
    clear: both;
}



